.footer-logos-container {
  display: flex;
  margin-top: 30px;
}
.footer-logos {
  margin-left: 20px;
  font-size: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  color: #3d3c3c;
  font-size: 13px;
}
